# Week 3 練習と総合問題解答

In [ ]:
# 以下のライブラリを使うので、あらかじめ読み込んでおいてください
import numpy as np
import numpy.random as random
import scipy as sp
import pandas as pd
from pandas import Series,DataFrame
import os
import zipfile
import requests
import io

# 可視化ライブラリ
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
%matplotlib inline

# 小数第３位まで表示
%precision 3

'%.3f'

#### <練習問題 3-1>

下記のデータテーブルに対して、`city`がTokyoであるか`birth_year`が1990より大きいデータを出力してみましょう。

In [ ]:
# データ4の準備
data4 = {
    'id': ['0', '1', '2', '3', '4', '6', '8', '11', '12', '13'],
    'city': ['Tokyo', 'Osaka', 'Kyoto', 'Hokkaido', 'Tokyo', 'Tokyo', 'Osaka', 'Kyoto', 'Hokkaido', 'Tokyo'],
    'birth_year': [1990, 1989, 1992, 1997, 1982, 1991, 1988, 1990, 1995, 1981],
    'name': ['Hiroshi', 'Akiko', 'Yuki', 'Satoru', 'Steeve', 'Mituru', 'Aoi', 'Tarou', 'Suguru', 'Mitsuo']
}
df4 = DataFrame(data4)
df4

   id      city  birth_year     name
0   0     Tokyo        1990  Hiroshi
1   1     Osaka        1989    Akiko
2   2     Kyoto        1992     Yuki
3   3  Hokkaido        1997   Satoru
4   4     Tokyo        1982   Steeve
5   6     Tokyo        1991   Mituru
6   8     Osaka        1988      Aoi
7  11     Kyoto        1990    Tarou
8  12  Hokkaido        1995   Suguru
9  13     Tokyo        1981   Mitsuo

In [ ]:
df4[(df4['city']=='Tokyo') | (df4['birth_year']>1990)]

   id      city  birth_year     name
0   0     Tokyo        1990  Hiroshi
2   2     Kyoto        1992     Yuki
3   3  Hokkaido        1997   Satoru
4   4     Tokyo        1982   Steeve
5   6     Tokyo        1991   Mituru
8  12  Hokkaido        1995   Suguru
9  13     Tokyo        1981   Mitsuo

#### <練習問題 3-2>

下記の2つのデータテーブルに対して、`ID`の値が同じもの同士で内部結合してみましょう。

In [ ]:
# データ4の準備
data4 = {
    'ID':['0','1','2','3','4','6','8','11','12','13'],
    'city':['Tokyo','Osaka','Kyoto','Hokkaido','Tokyo','Tokyo','Osaka','Kyoto','Hokkaido','Tokyo'],
    'birth_year':[1990,1989,1992,1997,1982,1991,1988,1990,1995,1981],
    'name':['Hiroshi','Akiko','Yuki','Satoru','Steeve','Mituru','Aoi','Tarou','Suguru','Mitsuo']
}
df4 = DataFrame(data4)
print(df4)

# データ5の準備
data5 = {
    'ID':['0','1','3','6','8'],
    'math':[20,30,50,70,90],
    'English':[30,50,50,70,20],
    'sex':['M','F','F','M','M'],
    'index_num':[0,1,2,3,4]
}
df5 = DataFrame(data5)
print(df5)

   ID      city  birth_year     name
0   0     Tokyo        1990  Hiroshi
1   1     Osaka        1989    Akiko
2   2     Kyoto        1992     Yuki
3   3  Hokkaido        1997   Satoru
4   4     Tokyo        1982   Steeve
5   6     Tokyo        1991   Mituru
6   8     Osaka        1988      Aoi
7  11     Kyoto        1990    Tarou
8  12  Hokkaido        1995   Suguru
9  13     Tokyo        1981   Mitsuo
  ID  math  English sex  index_num
0  0    20       30   M          0
1  1    30       50   F          1
2  3    50       50   F          2
3  6    70       70   M          3
4  8    90       20   M          4

In [ ]:
# 解答
pd.merge(df4, df5,on='ID')

  ID      city  birth_year     name  math  English sex  index_num
0  0     Tokyo        1990  Hiroshi    20       30   M          0
1  1     Osaka        1989    Akiko    30       50   F          1
2  3  Hokkaido        1997   Satoru    50       50   F          2
3  6     Tokyo        1991   Mituru    70       70   M          3
4  8     Osaka        1988      Aoi    90       20   M          4

#### <練習問題 3-3>
<練習問題 3-2>のデータを使って、`df4`に対して、以下のデータを縦結合してみましょう。

In [ ]:
# データの準備
data6 = {
    'ID':['70','80','90','120','150'],
    'city':['Chiba','Kanagawa','Tokyo','Fukuoka','Okinawa'],
    'birth_year':[1980,1999,1995,1994,1994],
    'name':['Suguru','Kouichi','Satochi','Yukie','Akari']
}
df6 = DataFrame(data6)

In [ ]:
pd.concat([df4,df6])

    ID      city  birth_year     name
0    0     Tokyo        1990  Hiroshi
1    1     Osaka        1989    Akiko
2    2     Kyoto        1992     Yuki
3    3  Hokkaido        1997   Satoru
4    4     Tokyo        1982   Steeve
5    6     Tokyo        1991   Mituru
6    8     Osaka        1988      Aoi
7   11     Kyoto        1990    Tarou
8   12  Hokkaido        1995   Suguru
9   13     Tokyo        1981   Mitsuo
0   70     Chiba        1980   Suguru
1   80  Kanagawa        1999  Kouichi
2   90     Tokyo        1995  Satochi
3  120   Fukuoka        1994    Yukie
4  150   Okinawa        1994    Akari

#### <練習問題 3-4>

次のデータに対して、`Kyoto`の列だけ抜き出してみましょう。

In [ ]:
hier_df1 = DataFrame(
    np.arange(12).reshape((3,4)),
    index = [['c','d','d'],[1,2,1]],
    columns = [
        ['Kyoto','Nagoya','Hokkaido','Kyoto'],
        ['Yellow','Yellow','Red','Blue']
    ]
)

hier_df1.index.names = ['key1','key2']
hier_df1.columns.names = ['city','color']
hier_df1

city       Kyoto Nagoya Hokkaido Kyoto
color     Yellow Yellow      Red  Blue
key1 key2
c    1         0      1        2     3
d    2         4      5        6     7
     1         8      9       10    11

In [ ]:
# 解答
hier_df1['Kyoto']

color      Yellow  Blue
key1 key2
c    1          0     3
d    2          4     7
     1          8    11

#### <練習問題 3-5>

<練習問題 3-4>のデータに対して、`city`をまとめて列同士の平均値を出してください。

In [ ]:
# 解答
# city列合計
hier_df1.mean(level='city', axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.median(level=1) should use df.groupby(level=1).median().
  This is separate from the ipykernel package so we can avoid doing imports until

city       Kyoto  Nagoya  Hokkaido
key1 key2
c    1       1.5     1.0       2.0
d    2       5.5     5.0       6.0
     1       9.5     9.0      10.0

#### <練習問題 3-6>

<練習問題 3-4>のデータに対して、`key2`ごとに行の合計値を算出してみましょう。

In [ ]:
# 解答
# key2行合計
hier_df1.sum(level='key2')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  This is separate from the ipykernel package so we can avoid doing imports until

city   Kyoto Nagoya Hokkaido Kyoto
color Yellow Yellow      Red  Blue
key2
1          8     10       12    14
2          4      5        6     7

#### <練習問題 3-7>

数学の成績を示すデータである「student-mat.csv」を読み込み、年齢（`age`）を2倍にしたカラムを末尾に追加してみましょう。

In [ ]:
# データがあるurlの指定
url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/00356/student.zip'

# データをurlから取得する
r = requests.get(url, stream=True)

# zipfileを読み込み展開する
z = zipfile.ZipFile(io.BytesIO(r.content))
z.extractall()

In [ ]:
student_data_math = pd.read_csv('student-mat.csv',sep=';')
student_data_math['age_d'] = student_data_math['age'].map(lambda x: x*2)
student_data_math.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,age_d
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,6,5,6,6,36
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,4,5,5,6,34
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,10,7,8,10,30
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,2,1,1,5,2,15,14,15,30
4,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,2,5,4,6,10,10,32

#### <練習問題 3-8>

<練習問題 3-7>と同じデータで、「`absences`」のカラムについて、以下の3つのビンに分けてそれぞれの人数を数えてみましょう。なお、`cut`のデフォルトの挙動は右側が閉区間です。今回は、`cut`に対視して`right=False`のオプションを指定して、右側を開区間としてください。

In [ ]:
#　分割の粒度
absences_bins = [0,1,5,100]

In [ ]:
# 解答
student_data_math_ab_cut_data = pd.cut(student_data_math.absences,absences_bins,right=False)
pd.value_counts(student_data_math_ab_cut_data)

[5, 100)    151
[1, 5)      129
[0, 1)      115
Name: absences, dtype: int64

#### <練習問題 3-9>

<練習問題 3-7>と同じデータで、「`absences`」のカラムについて、`qcut`を用いて3つのビンに分けてみましょう。

In [ ]:
# 解答
student_data_math_ab_qcut_data = pd.qcut(student_data_math.absences,3)
pd.value_counts(student_data_math_ab_qcut_data)

(-0.001, 2.0]    183
(6.0, 75.0]      115
(2.0, 6.0]        97
Name: absences, dtype: int64

#### <練習問題 3-10>

<練習問題 3-7>で使用した「student-mat.csv」を使って、pandasの集計処理をしてみましょう。まずは、学校（`school`）を軸にして、`G1`の平均点をそれぞれ求めてみましょう。

In [ ]:
student_data_math.groupby(['school'])['G1'].mean()

school
GP    10.939828
MS    10.673913
Name: G1, dtype: float64

#### <練習問題 3-11>

<練習問題 3-7>で使用した「student-mat.csv」を使って、学校（`school`）と性別（`sex`）を軸にして、`G1`、`G2`、`G3`の平均点をそれぞれ求めてみましょう。

In [ ]:
# 解答
student_data_math.groupby(['school','sex'])['G1','G2','G3'].mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

                   G1         G2         G3
school sex
GP     F    10.579235  10.398907   9.972678
       M    11.337349  11.204819  11.060241
MS     F    10.920000  10.320000   9.920000
       M    10.380952  10.047619   9.761905

なお、上記の<練習問題 3-10>の計算結果と表示が異なるのは、<練習問題 3-10>の解答がSeries型で今回の解答がDataFrameだからです。

#### <練習問題 3-12>

<練習問題 3-7>で使用した「student-mat.csv」を使って、学校（`school`）と性別（`sex`）を軸にして、`G1`、`G2`、`G3`の最大値、最小値をまとめて算出してみましょう。

In [ ]:
# 解答
functions = ['max','min']
student_data_math2 = student_data_math.groupby(['school','sex'])
student_data_math2['G1','G2','G3'].agg(functions)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  after removing the cwd from sys.path.

            G1      G2      G3
           max min max min max min
school sex
GP     F    18   4  18   0  19   0
       M    19   3  19   0  20   0
MS     F    19   6  18   5  19   0
       M    15   6  16   5  16   0

#### <練習問題 3-13>

以下のデータに対して、1列でもNaNがある場合は削除し、その結果を表示してください。

In [ ]:
#@title
# データの準備
import numpy as np
from numpy import nan as NA
import pandas as pd


df2 = pd.DataFrame(np.random.rand(15,6))

# NAにする
df2.iloc[2,0] = NA
df2.iloc[5:8,2] = NA
df2.iloc[7:9,3] = NA
df2.iloc[10,5] = NA


df2

           0         1         2         3         4         5
0   0.321716  0.585466  0.424261  0.929205  0.014146  0.065672
1   0.387050  0.437033  0.786275  0.511012  0.431302  0.189857
2        NaN  0.161240  0.279278  0.972422  0.998191  0.152580
3   0.298191  0.329873  0.449814  0.700134  0.140090  0.610855
4   0.163002  0.414003  0.742141  0.714209  0.165364  0.743899
5   0.863291  0.280411       NaN  0.914105  0.977380  0.597638
6   0.429533  0.943709       NaN  0.137194  0.580598  0.253326
7   0.436299  0.332902       NaN       NaN  0.106175  0.587434
8   0.199624  0.569622  0.266054       NaN  0.502792  0.174719
9   0.226064  0.691972  0.649476  0.397388  0.073859  0.748944
10  0.462733  0.771538  0.452173  0.691400  0.120791       NaN
11  0.333014  0.715159  0.481344  0.239913  0.864846  0.212596
12  0.702312  0.346180  0.569186  0.495618  0.022530  0.618828
13  0.286416  0.850331  0.566855  0.706699  0.779088  0.854955
14  0.178334  0.779475  0.384674  0.636767  0.346596  0.424578

In [ ]:
# 解答
df2.dropna()

           0         1         2         3         4         5
0   0.321716  0.585466  0.424261  0.929205  0.014146  0.065672
1   0.387050  0.437033  0.786275  0.511012  0.431302  0.189857
3   0.298191  0.329873  0.449814  0.700134  0.140090  0.610855
4   0.163002  0.414003  0.742141  0.714209  0.165364  0.743899
9   0.226064  0.691972  0.649476  0.397388  0.073859  0.748944
11  0.333014  0.715159  0.481344  0.239913  0.864846  0.212596
12  0.702312  0.346180  0.569186  0.495618  0.022530  0.618828
13  0.286416  0.850331  0.566855  0.706699  0.779088  0.854955
14  0.178334  0.779475  0.384674  0.636767  0.346596  0.424578

#### <練習問題 3-14>

<練習問題 3-13>で準備したデータに対して、`NaN`を0で埋めてください。

In [ ]:
# 解答
df2.fillna(0)

           0         1         2         3         4         5
0   0.321716  0.585466  0.424261  0.929205  0.014146  0.065672
1   0.387050  0.437033  0.786275  0.511012  0.431302  0.189857
2   0.000000  0.161240  0.279278  0.972422  0.998191  0.152580
3   0.298191  0.329873  0.449814  0.700134  0.140090  0.610855
4   0.163002  0.414003  0.742141  0.714209  0.165364  0.743899
5   0.863291  0.280411  0.000000  0.914105  0.977380  0.597638
6   0.429533  0.943709  0.000000  0.137194  0.580598  0.253326
7   0.436299  0.332902  0.000000  0.000000  0.106175  0.587434
8   0.199624  0.569622  0.266054  0.000000  0.502792  0.174719
9   0.226064  0.691972  0.649476  0.397388  0.073859  0.748944
10  0.462733  0.771538  0.452173  0.691400  0.120791  0.000000
11  0.333014  0.715159  0.481344  0.239913  0.864846  0.212596
12  0.702312  0.346180  0.569186  0.495618  0.022530  0.618828
13  0.286416  0.850331  0.566855  0.706699  0.779088  0.854955
14  0.178334  0.779475  0.384674  0.636767  0.346596  0.424578

#### <練習問題 3-15>

<練習問題 3-13>で準備したデータに対して、NaNをそれぞれの列の平均値で埋めてください。

In [ ]:
# 解答
df2.fillna(df2.mean())

           0         1         2         3         4         5
0   0.321716  0.585466  0.424261  0.929205  0.014146  0.065672
1   0.387050  0.437033  0.786275  0.511012  0.431302  0.189857
2   0.377684  0.161240  0.279278  0.972422  0.998191  0.152580
3   0.298191  0.329873  0.449814  0.700134  0.140090  0.610855
4   0.163002  0.414003  0.742141  0.714209  0.165364  0.743899
5   0.863291  0.280411  0.504294  0.914105  0.977380  0.597638
6   0.429533  0.943709  0.504294  0.137194  0.580598  0.253326
7   0.436299  0.332902  0.504294  0.618928  0.106175  0.587434
8   0.199624  0.569622  0.266054  0.618928  0.502792  0.174719
9   0.226064  0.691972  0.649476  0.397388  0.073859  0.748944
10  0.462733  0.771538  0.452173  0.691400  0.120791  0.445420
11  0.333014  0.715159  0.481344  0.239913  0.864846  0.212596
12  0.702312  0.346180  0.569186  0.495618  0.022530  0.618828
13  0.286416  0.850331  0.566855  0.706699  0.779088  0.854955
14  0.178334  0.779475  0.384674  0.636767  0.346596  0.424578

In [ ]:
# 確認用
df2.mean()

0    0.377684
1    0.547261
2    0.504294
3    0.618928
4    0.408250
5    0.445420
dtype: float64

#### <練習問題 3-16>

作成したDataFrame、pm25を使って、年ごとの平均値の推移データを作成してください。

In [ ]:
import pandas_datareader.data as pdr

# データがあるurlの指定
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00381/PRSA_data_2010.1.1-2014.12.31.csv'

# データをurlから取得する
r = requests.get(url, stream=True).content
# データをDataFrameとして読み込む
Beijing_pm25=pd.read_csv(io.BytesIO(r))

#pm25のDataFrameを作成する
pm25 = pd.DataFrame(Beijing_pm25['pm2.5'].values,index = pd.to_datetime(Beijing_pm25[['year','month','day','hour']]),columns=['pm2.5'])

In [ ]:
# 解答
pm25.resample('Y').mean().head()

                 pm2.5
2010-12-31  104.045730
2011-12-31   99.071340
2012-12-31   90.545871
2013-12-31  101.712376
2014-12-31   97.734557

#### <練習問題 3-17>

<練習問題 3-16>で使用したpm25を使って、20日間の移動平均データを作成してください。ただしNaNは削除してください。なお、レコードとして存在しないデータであれば、特に補填する必要はありません。

In [ ]:
import pandas_datareader.data as pdr

# データがあるurlの指定
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00381/PRSA_data_2010.1.1-2014.12.31.csv'

# データをurlから取得する
r = requests.get(url, stream=True).content
# データをDataFrameとして読み込む
Beijing_pm25=pd.read_csv(io.BytesIO(r))

#pm25のDataFrameを作成する
pm25 = pd.DataFrame(Beijing_pm25['pm2.5'].values,index = pd.to_datetime(Beijing_pm25[['year','month','day' ,"hour"]]),columns=['pm2.5'])

In [ ]:
# 解答
pm25 = pm25.resample("D").mean()
pm25_rolling20 = pm25.rolling(20).mean().dropna()
pm25_rolling20.head()

                 pm2.5
2010-01-21  103.312500
2010-01-22   97.485417
2010-01-23   94.702574
2010-02-14   77.167482
2010-02-15   68.888315

## 3.5 総合問題

### ■総合問題3-1 データ操作
4章で使用した数学の成績を示すデータである「student-mat.csv」を使って、以下の問いに答えてください。

(1) 上記のデータに対して、年齢（`age`）×性別（`sex`）で`G1`の平均点を算出し、縦軸が年齢（`age`）、横軸が性別（`sex`）となるような表（テーブル）を作成しましょう。

(2) (1)で表示した結果テーブルについて、NAになっている行（レコード）をすべて削除した結果を表示しましょう。

In [ ]:
# 解答
# (1)
student_data_math.groupby(['age','sex'])['G1'].mean().unstack()

sex          F          M
age
15   10.052632  12.250000
16   10.203704  11.740000
17   11.103448  10.600000
18   10.883721  10.538462
19   10.642857   9.700000
20   15.000000  13.000000
21         NaN  10.000000
22         NaN   6.000000

In [ ]:
# 解答
# (2)
student_data_math.groupby(['age','sex'])['G1'].mean().unstack().dropna()

sex          F          M
age
15   10.052632  12.250000
16   10.203704  11.740000
17   11.103448  10.600000
18   10.883721  10.538462
19   10.642857   9.700000
20   15.000000  13.000000

# データの読み込み方法

In [ ]:
# データがあるurlの指定
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00320/student.zip'
# データをurlから取得
r = requests.get(url, stream=True)
# zipfile内のstudent-mat.csvをカレントディレクトリ内のdataディレクトリに展開
with zipfile.ZipFile(io.BytesIO(r.content)) as existing_zip:
    existing_zip.extract('student-mat.csv', 'data')
# csvfileが存在するディレクトリ
data_dir = './data'
path = os.path.join(data_dir, 'student-mat.csv')
student_data_math = pd.read_csv(path,sep=';')

**謝辞**：以下のデータセットの利用に関して  
https://archive.ics.uci.edu/ml/machine-learning-databases/00320/student.zip

引用元：Dua, D. and Graff, C. (2019). UCI Machine Learning Repository [[http://archive.ics.uci.edu/ml](http://archive.ics.uci.edu/ml)]. Irvine, CA: University of California, School of Information and Computer Science.

P. Cortez and A. Silva. Using Data Mining to Predict Secondary School Student Performance. In A. Brito and J. Teixeira Eds., Proceedings of 5th FUture BUsiness TEChnology Conference (FUBUTEC 2008) pp.5-12, Porto, Portugal, April, 2008, EUROSIS, ISBN 978-9077381-39-7.
[http://www3.dsi.uminho.pt/pcortez/student.pdf](http://www3.dsi.uminho.pt/pcortez/student.pdf)